.container,
body,
html {
  height: 100%;
}

/* NAVBAR */

.navbar {
  width: 320px;
  background-color: #f0e6eb;
  /* top: 0; */
  border-right: 2px solid #6a0432;
  font-family: Ubuntu Condensed, sans-serif;
  height: 100%;
  position: absolute;
}

.nav-link {
  list-style: none;
  font-size: 1.3em;
  font-weight: bold;
}
.nav-hyperlink {
  list-style-type: none;
  text-decoration: none;
  color: #4a4a4a;
  line-height: 1.7em;
}
.nav-hyperlink:hover {
  text-decoration: underline;
}

.nav-hyperlink:active {
  text-decoration: underline;
  font-weight: bold;
}

.nav-subhead {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #4a4a4a;
  padding: 0px 40px 20px 40px;
}

/*Navbar Burger*/
.navbar-burger {
  color: #4a4a4a;
  cursor: pointer;
  display: block;
  height: 3.25rem;
  position: relative;
  width: 3.25rem;
  margin-left: auto;
}

.navbar-burger span {
  background-color: currentColor;
  display: block;
  height: 1px;
  left: calc(50% - 8px);
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, -webkit-transform;
  transition-property: background-color, opacity, transform;
  transition-property: background-color, opacity, transform, -webkit-transform;
  transition-timing-function: ease-out;
  width: 16px;
}

.navbar-burger span:nth-child(1) {
  top: calc(50% - 6px);
}

.navbar-burger span:nth-child(2) {
  top: calc(50% - 1px);
}

.navbar-burger span:nth-child(3) {
  top: calc(50% + 4px);
}

.navbar-burger:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.navbar-burger.is-active span:nth-child(1) {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

.navbar-burger.is-active span:nth-child(2) {
  opacity: 0;
}

.navbar-burger.is-active span:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}

/*Title*/
.title {
  color: #4a4a4a;
  font-size: 2em;
  border-bottom: 1px solid #4a4a4a;
  margin: 0.67em 0;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

.sub-title {
  font-size: 1.5em;
  color: #4a4a4a;
  font-weight: bold;
}

/* PAGES */
.pages {
  margin-left: 320px;
  padding: 10px 20px 50px;
  /* position: absolute; */
}

p,
li {
  color: #4a4a4a;
  line-height: 1.4;
}

.sub-title {
  font-size: 1.5em;
  color: #4a4a4a;
  font-weight: bold;
}
/* STUDENT TABLE */
table {
  border-collapse: collapse;
  border: 1px solid #6a0432;
}
th,
td {
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #6a0432;
}
thead tr {
  background-color: #6a0432;
  color: #fff;
}
tbody tr:nth-child(even) {
  background-color: #f0e6eb;
}
/* FOOTER */

.footer {
  background-color: #6a0432;
  font-family: Ubuntu Condensed, sans-serif;
  padding: 20px 80px;
  bottom: 0;
  right: 0;
  color: white;
}
