.nav-links {
  list-style: none;
}

.navbar {
  width: 320px;
  background-color: #f0e6eb;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 2px solid #6a0432;
}

.nav-links {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
